---
Language:        Cpp
BasedOnStyle:  Chromium

# HuanGong customized part
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeColon
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true


